<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.oreilly.demo.android.pa.ndkdemo"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:targetSdkVersion="9"></uses-sdk>

    <!-- This .apk has Java code, so set hasCode to true which is the default. -->
   <!-- if this only had a native app (only the activity called 'android.app.NativeActivity') then set to false -->
    <application android:icon="@drawable/icon" android:hasCode="true" 
		android:label="@string/app_name">
        <activity android:name=".NDKApp"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	<activity android:name=".SampleActivityWithNativeMethods" android:label="Sample Activity With Native Methods"  android:debuggable="true" />

<!--	<activity android:name="android.app.NativeActivity" android:label="SampleNativeActivity" android:debuggable="true" >-->
<!--		<meta-data android:name="android.app.lib_name" android:value="sample_native_activity" />-->
<!--	</activity>-->
	
	<activity android:name="android.app.NativeActivity" android:label="SampleNativeActivityWOpenGL" android:debuggable="true" >
		<meta-data android:name="android.app.lib_name" android:value="sample_native_activity_opengl" />
	</activity>

    </application>


</manifest> 
