<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oreilly.demo.android.pa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".searchdemo.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        	<meta-data android:name="android.app.default_searchable" android:value=".searchdemo.SearchActivity" />
        	
<!--    			Comment out the above meta-data that refers to .searchdemo.SearchActivity and uncomment the one  -->
<!--    			below to use the Search based on the local database -->

<!--         	<meta-data android:name="android.app.default_searchable" android:value=".searchdemo.SearchDBActivity" /> -->
        </activity>
        
       	<provider android:name=".searchdemo.CustomSearchSuggestionProvider"
		          android:authorities="com.oreilly.demo.android.pa.searchdemo.CustomSearchSuggestionProvider"
		          android:readPermission="com.oreilly.demo.android.pa.searchdemo.CustomSearchSuggestionProvider.READ_MY_DATA"
		          android:writePermission="com.oreilly.demo.android.pa.searchdemo.CustomSearchSuggestionProvider.WRITE_MY_DATA">
  		  				<path-permission android:pathPrefix="/search_suggest_query" android:readPermission="android.permission.GLOBAL_SEARCH" />
		</provider>
		
<!--        	Comment out the above provider that uses .searchdemo.CustomSearchSuggestionProvider and uncomment the -->
<!--        	one below that uses .searchdemo.SearchDBProvider to enable usage of the Search based on the local database -->
		
<!--         <provider android:name=".searchdemo.SearchDBProvider" -->
<!-- 		          android:authorities="com.oreilly.demo.android.pa.searchdemo.SearchDBProvider"> -->
<!--   		  				<path-permission android:pathPrefix="/search_suggest_query" android:readPermission="android.permission.GLOBAL_SEARCH" /> -->
<!-- 		</provider> -->

		<activity android:name=".searchdemo.SearchActivity" >
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/searchxml"/>
        </activity>
        
         <activity android:name=".searchdemo.SearchDBActivity" >
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/searchdbxml"/>
        </activity>
    </application>

</manifest>